<div class="min-h-screen w-full bg-gray-100">
    <!-- Header -->
    <!--<header class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto">
      <div class="flex justify-between items-center py-4">
        <h1 class="text-2xl font-bold text-gray-900">Lautus Informática</h1>
        
        <div class="flex items-center space-x-4">
          <span class="text-gray-700">Bem-vindo!</span>
          <button 
            (click)="logout()"
            class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg transition duration-200">
            Sair
          </button>
        </div>
      </div>
    </div> 
  </header>-->
    <main class="overflow-x-hidden flex w-full">
        <app-side-menu class="w-72" [user]="currentUser" logoUrl="assets/images/logo.png">
        </app-side-menu>
        <!-- ADMIN -->
        <app-admin-home class="w-full" *ngIf="isAdmin()"></app-admin-home>

        <!-- CLIENT -->
        <app-client-home class="w-full" *ngIf="!isAdmin()"></app-client-home>

    </main>

    <!-- Resto do conteúdo igual... -->
</div>